<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href={% static 'css/index.css' %}>
    {% block css %}
    {% endblock %}
</head>
<body>
<ul class="menu">
    <li class="{% if request.resolver_match.url_name == 'main' %}
                        active
                      {% endif %}">
        <a href="{% url 'main' %}">домой</a>
    </li>
    <li class="{% if request.resolver_match.namespace == 'products' %}
                        active
                      {% endif %}">
        <a href="{% url 'products:index' %}">продукты</a>
    </li>
    <li class="{% if request.resolver_match.url_name == 'contacts' %}
                        active
                      {% endif %}">
        <a href="{% url 'contacts' %}">контакты</a>
    </li>
</ul>
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</body>
</html>